.footer-container {
  background-color: #191919;
  padding: 50px;
  color: rgb(216, 209, 209);
}
.footer-icon {
  padding: 20px;
}
.footer-icon .fab {
  padding: 15px;
  margin: 10px;
  font-size: 24px;
  background: #656d60;
  border-radius: 50%;
}
